{% extends 'base.html.twig' %}

{% block title %}Employee Registration Form{% endblock %}

{% block body %}
<div class="container justify-content-center">
    <div class="col-md-12">
        <div class="card mt-5">
            <div class="card-body">
                <h5 class="card-title text-center">Employee Registration Form </h5>
                {% for flashType, flashMessages in app.flashes %}
                        {% for flashMessage in flashMessages %}
                            <div class="alert alert-{{ flashType }}">{{ flashMessage }}</div>
                        {% endfor %}
                    {% endfor %}
                <p class="card-text">
                {{ form(form) }}                
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
